name: Run lint check with clang-format

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout jsonpath
        uses: actions/checkout@v5

      - name: Perform linting
        uses: DoozyX/clang-format-lint-action@v0.20
        with:
          source: './jsonpath.c ./php_jsonpath.h ./src/jsonpath'
          extensions: 'c,h'
          clangFormatVersion: 12
